/* @media all and (min-width:1024px){
} */

body {
  font-size: 1.2rem;
}

p {
  line-height: 2rem;
}


.biography-card {
  grid-template-columns: repeat(3, 1fr);
}

.biography-card__text {
  font-size: 1rem;
  text-align: left;
}

.productions-section {
  width: 100%;
}

.productions__grid {
  grid-template-columns: repeat(2, 1fr);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 40px 0 ;
}


.footer__title {
  text-align: left;
}

.footer__subtitle {
  text-align: left;
}

.footer__info-row {
  justify-content: left;
  padding: 0 0 0.5rem 0 ;
}

.footer__text {
  text-align: left;
  font-size: 1rem;
}

