* {
    box-sizing: border-box;
      margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
    color: inherit;
}

header {
  background-color: #fbfbfd;
}

a {
  text-decoration: none;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
      max-width: 1110px;
        margin: auto;
        height: 60px;
}

.nav_list {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.nav_link {
  list-style-type: none;
}