:root {
  --primary-text-color: #0a0a0a; /* text color */
  --secondary-text-color: #707070;
  --dark-white-color: #e5e5e5;
  --dark-black-color: #313131;
  --light-black-color: #9b9b9b;
  --light-white-color: #f3f3f3;
  --nav-height: 64px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0;
  padding: 0 16px; */
  font-family: "Inter", sans-serif;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 300;
}

header {
  background-color: #fbfbfd;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

main {
  max-width: 896px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 4px;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 4rem;
}

p {
  line-height: 26px;
}

.logo-text {
  font-weight: 500;
  letter-spacing: 0.2em;
  color: var(--primary-text-color);
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;

  /* Başlangıçta gizlemek için: */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); /* Hafif yukarıda dursun */
  transition: all 0.3s ease; /* Yumuşak açılış efekti */
}

/* Menü açıldığında eklenecek sınıf */
.nav_list.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hamburger-icon {
  display: block;
  width: 24px;
  height: 24px;
  /* Başlangıçta hamburger ikonu */
  background-image: url("./assets/icon/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease; /* Yumuşak geçiş */
}

/* Menü açık olduğunda ikon değişsin */
/* Nav listesine eklediğimiz 'is-open' sınıfını referans alıyoruz */
.nav_list.is-open ~ .nav__hamburger .hamburger-icon {
  background-image: url("./assets/icon/closehamburger.svg");
}

.nav__hamburger {
  border: none;
  background: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding-inline: 2rem;

  background-color: rgba(255, 255, 255, 0.9);

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 10;
}

/* Solid state */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.padding--container {
  padding: 0 17px;
}

.mt-4rem {
  margin-top: 4rem;
}

.hero {
  background-image: image-set(
    url("assets/Giulia_Santorini_896.png") 1x,
    url("assets/Giulia_Santorini_ld.png") 2x
  );

  min-height: 100vh;
  padding-top: var(--nav-height);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tagline {
  font-size: 0.875rem;
  font-weight: 200;
  color: var(--dark-white-color);
}

.hero_summary {
  font-weight: 200;
  color: var(--dark-white-color);
}

.hero__mlbtn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 2rem;
}

.btn {
  background-color: var(--primary-dark-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 0.5px #eeeeee;
  color: white;
}

.btn:hover {
  background-color: var(--primary-dark-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: solid 0.5px #eeeeee;
  color: white;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.separator {
  border: none;
  width: 30%;
  border-top: 3px solid #000;
  border-radius: 2rem;
  margin-top: 0.5rem;
}

.biography-section {
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem; */
  align-items: center;
  text-align: justify;
}

.biography-text {
  margin-top: 2rem;
}

.info-cards {
  display: grid;
  grid-template-columns: 1 / 1;
  gap: 1rem;
}

.card-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.2rem;
  box-shadow: 0px 1px 3px var(--light-black-color);
  border-radius: 1rem;
}

.info-icon {
  width: 3rem;
  height: 3rem;
}

.info-cards-text {
  color: var(--dark-black-color);
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.productions-section {
  background-color: var(--light-white-color);
}

.productions-grid {
  display: grid;
  grid-template-columns: 1 / 1;
  gap: 1.5rem;
}

.production-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: 0px 1px 3px var(--light-black-color);
  border-radius: 1rem;
}

.productions-img {
  background-size: cover; /* Resmi alanı kaplayacak şekilde boyutlandırır */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Resmin tekrarlanmasını engeller */
  border-radius: 1rem 1rem 0 0;
  height: 270px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  padding: 0.8rem;
}

.img-casa {
  background-image: url("./assets/La_Casa_delle_Donne.png");
}

.img-antigone {
  background-image: url("./assets/Antigone.webp");
}

.img-medea {
  background-image: url("./assets/solo_performance.png");
}

.img-enrico {
  background-image: url("./assets/Enrico.png");
}

.img-senza-confini {
    background-image: url("./assets/Donne_senza_confini.png");
}

.img-echi-damore {
      background-image: url("./assets/enci_di_amore.webp");

}

.role-name {
  font-size: 0.75rem;
  font-style: italic;
}

.production-details {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.location-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
}

.year-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
}

.production-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.production-cards-text {
  color: var(--dark-black-color);
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.pr-loc {
  line-height: 1rem;
}
