:root {
  --primary-text-color: #0a0a0a; /* text color */
  --secondary-text-color: #707070;
  --dark-white-color: #e5e5e5;
  --nav-height: 64px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  /* margin: 0;
  padding: 0 16px; */
  font-family: "Inter", sans-serif;
  color: var(--primary-text-color);
  font-size: 1rem;
}

header {
  background-color: #fbfbfd;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 60px;
  gap: 50px;
  padding: 32px 17px;
  /* max-width: 896px; */
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

main {
  max-width: 896px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 4px;
}

.logo-text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.49px;
  color: var(--primary-text-color);
}

p {
  color: #e5e5e5;
  font-weight: 200;
}

/* .nav_list {
  display: flex;
  gap: 50px;
  display: none;
} */

.nav_list {
  display: flex; 
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;

  /* Başlangıçta gizlemek için: */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); /* Hafif yukarıda dursun */
  transition: all 0.3s ease; /* Yumuşak açılış efekti */
}


/* Menü açıldığında eklenecek sınıf */
.nav_list.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hamburger-icon {
  display: block;
  width: 24px;
  height: 24px;
  /* Başlangıçta hamburger ikonu */
  background-image: url("./assets/icon/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease; /* Yumuşak geçiş */
}

/* Menü açık olduğunda ikon değişsin */
/* Nav listesine eklediğimiz 'is-open' sınıfını referans alıyoruz */
.nav_list.is-open ~ .nav__hamburger .hamburger-icon {
  background-image: url("./assets/icon/closehamburger.svg");
}

.nav__hamburger {
  border: none;
  background: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding-inline: 2rem;

  background-color: rgba(255, 255, 255, 0.9);

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 10;
}

/* Solid state */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: image-set(
    url("assets/Giulia_Santorini_896.png") 1x,
    url("assets/Giulia_Santorini_ld.png") 2x
  );

  min-height: 100vh;
  padding-top: var(--nav-height);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 160px;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 17px;
}

.tagline {
  font-size: 0.875rem;
  color: var(--dark-white-color);
}
