:root {
  --primary-text-color: #0a0a0a; /* text color */
  --secondary-text-color: #707070;
  --footer-background-color: #030213;
  --dark-white-color: #e5e5e5;
  --dark-black-color: #313131;
  --light-black-color: #9b9b9b;
  --light-white-color: #f3f3f3;
  --nav-height: 64px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 4px;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 4rem;
}

p, .production-card__name {
  line-height: 1.5rem;
}

.nav__logo {
  font-weight: 500;
  letter-spacing: 0.2em;
  color: var(--primary-text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  align-items: center;
  padding: 0 1.25rem;

  background-color: rgba(255, 255, 255, 0.9);

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 10;
}

nav.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;

  /* hiding nav__list */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

/* after open the menu */
.nav__list.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav__list a:hover {
text-shadow: 0.2px 0 0 currentColor, -0.2px 0 0 currentColor;
}

.nav__hamburger-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("./assets/icon/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease; 
}

.nav__list.is-open ~ .nav__hamburger .nav__hamburger-icon {
  background-image: url("./assets/icon/closehamburger.svg");
}

.nav__hamburger {
  border: none;
  background: none;
}

.padding--container {
  padding: 0 1.25rem;
}

.mt-4rem {
  margin-top: 4rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
  min-height: 400px; 
  overflow: hidden;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  z-index: -1;
}

.hero__overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  padding-bottom: 6rem;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.hero__tagline {
  font-size: 0.875rem;
  font-weight: 200;
  color: var(--dark-white-color);
}

.hero__summary {
  font-weight: 200;
  color: var(--dark-white-color);
}

.hero__mlbtn {
  display: flex;
  flex-direction: column;
  gap: 0.37rem;
  margin-top: 2rem;
}

.btn {
  padding: 0.5rem 4rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 0.5px #eeeeee;
  color: white;
}

.btn:hover {
  background-color: var(--primary-dark-color);
  background-color: rgba(0, 0, 0, 0.9);
}

.biography-section {
  align-items: center;
  text-align: justify;
}

.biography__heading, .productions__heading {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.separator {
  border: none;
  width: 30%;
  border-top: 3px solid #000;
  border-radius: 2rem;
  margin-top: 0.5rem;
}

.biography__text {
  margin-top: 2rem;
}

.biography-card {
  display: grid;
  grid-template-columns: 1 / 1;
  gap: 1rem;
}

.biography-card__item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.2rem;
  box-shadow: 0px 1px 3px var(--light-black-color);
  border-radius: 1rem;
}

.biography-card__item:hover {
    box-shadow: 0px 7px 9px var(--light-black-color);
}

.biography-card__icon {
  width: 3rem;
  height: 3rem;
}

.biography-card__text {
  color: var(--dark-black-color);
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.productions-section {
  background-color: var(--light-white-color);
}

.productions__grid {
  display: grid;
  grid-template-columns: 1 / 1;
  gap: 1.5rem;
  padding-bottom: 4rem;
}

.production-card {
  box-shadow: 0px 1px 3px var(--light-black-color);
  border-radius: 1rem;
  background-color: white;
  transition: transform 0.5s ease;
}

.production-card:hover {
  box-shadow: 0px 7px 20px var(--light-black-color);
  transform: translateY(-6px)
}

.production-card__media {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.production-card__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.production-card__media:hover img {
  transform: scale(1.1) ;
  transition: transform 0.3s ease;
}

.production-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; 
  padding: 1rem; 
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 40%);
}

.production-card__role {
  font-size: 0.75rem;
  font-style: italic;
}

.production-card__details {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.production-card__info-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
}

.production-card__icon {
  width: 0.75rem;
  height: 0.75rem;
}

.production-cards-text {
  color: var(--dark-black-color);
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.production-card__info-text {
  line-height: 1rem;
}

footer {
  color: var(--dark-white-color);
  background-color: var(--footer-background-color);
  margin: 0;
}

.footer__content {
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__title {
  margin: 0;
  padding-bottom: 0.75rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
}

.footer__subtitle {
  margin: 0;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  text-align: center;
}

.footer__info-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
  align-items: center;
  padding: 0.5rem;
}

.footer__info-row a:hover {
  color: var(--secondary-text-color);

}

.footer__icon {
width: 44px;
height: 44px;
}

.footer__text {
  text-align: center;
  color: var(--dark-white-color);
}

.footer--disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.footer-separator {
  border: none;
  width: 100%;
  border-top: 1px solid var(--dark-black-color);
  border-radius: 2rem;
}

.copyright {
  font-size: 0.9rem;
  color: var(--light-black-color);
  padding-top: 1.5rem;
}
